{% set currentUrl = app.request.attributes.get('_route') %}
{% set current = '' %}
{% if 'library_update' in currentUrl %}
    {% set current = 'Library' %}
{% endif %}   
{% if 'library' in currentUrl %}
    {% set current = 'Library' %}
{% endif %}   
{% if 'unit' in currentUrl %}
    {% set current = 'Unit' %}
{% endif %}    
{% if 'item' in currentUrl %}
    {% set current = 'Item' %}
{% endif %} 

<nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-custom bg-dark pt-2">
    <div class="container-fluid ">
        <a class="navbar-brand" href="{{ path('library') }}">
            <img src="{{ asset('logo.png', 'images') }}" alt="logo" width="120" height="45" />
            <h4 class="nav-title mx-3 ">{{ current }}</h4>     
        </a>                                       
        <div class="nav align-text-bottom">                                
            {% if app.user %}
                {% if current is same as 'Library' %}
                    <a class="nav-link" href="{{ path('library_create') }}"><i class="bi bi-plus-circle"></i></a>)}                   
                {% elseif current is same as 'Unit' %}  
                    <a class="nav-link" href="{{ path('unit_create', {'library_id': library}) }}"><i class="bi bi-plus-circle"></i></a>)}  
                {% elseif current is same as 'Item' %}  
                    <a class="nav-link" href="{{ path('item_create', {'unit_id': unit}) }}"><i class="bi bi-plus-circle"></i></a>)}  
                {% endif %}
                <a class="nav-link" href="{{ path('logout') }}"><i class="bi bi-lock-fill"></i></a>)}
            {% else %}                                                    
                <a class="nav-link" href="{{ path('login') }}"><i class="bi bi-unlock-fill"></i></a>)}
            {% endif %}
        </div>
    </div>
</nav>