{% extends 'base.html.twig' %}
 
{% block title %}Lines{% endblock %}
 
{% block body %}
    <br /><br /><br /><br />
    <div class="container-fluid px-5 mt-4">
        <div class="d-flex">                    
            <div class="container-fluid ps-4">
                <div class="table-responsive"> 
                    <table class="table table-hover table-borderless">               
                        <tbody>                        
                            {% for item in items %}                                                                    
                                <tr>                                                                                                           
                                    <td class="py-3 px-4 text-end" style="width: 2%; border-radius: 1em 0 0 1em;">                                                 
                                        <a class="row-link" href="{{ path('item_update', {'unit_id': unitItem.id, 'id': item.id}) }}">                             
                                            {% if item.type != 'E' %}            
                                                <span class="h6 badge bg-dark text-end">{{ item.ord }}</span> 
                                            {% else %}   
                                                <span class="h6 badge bg-secondary text-end">{{ item.ord }}</span>
                                            {% endif %}  
                                        </a>                                                        
                                    </td>                                                                                                                       
                                    <td class="py-3 px-4" style=" width: 98%; border-radius: 0 1em 1em 0;"> 
                                        <a class="row-link" href="{{ path('item_update', {'unit_id': unitItem.id, 'id': item.id}) }}">   
                                            <div>    
                                                {% if item.text %}                                                        
                                                    <span class="h6">{{ item.text }}</span>  
                                                {% else %}   
                                                    <span class="h6">{{ item.translation }}</span> 
                                                {% endif %}  

                                            </div>
                                        </a>
                                    </td> 
                                                                                                                                      
                                </tr>                                  
                                                    
                            {% endfor %}         
                        </tbody>
                    </table>
                </div>
            </div>                            
        </div>       
    </div>  
{% endblock %}